<section class="footer fade-in">
    <div class="container footer-content">
      <div class="footer-left">
        <h2>CARSELL LUXURY PRIME</h2>
        <p>Encuentra la mejor selección de carros nuevos y usados.</p>
        <p>Politica de uso.</p>
        <p>Sobre nosotros.</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="footer-right">
        <h2>Contáctanos</h2>
        <p>555-123-4567</p>
        <p>3257895671</p>
        <p>info@carsell.com</p>
      </div>
    </div>
    <div class="container footer-bottom">
      <p>&copy; 2024. All rights reserved.</p>
    </div>
  </section>